<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class=jumbotron>
<h2>Family History</h2>
</div>

<form method="post" action="/history/familymedical/form">
  Please indicate if someone in <i>this child's biological family</i> has any of the following conditions:
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td> Alcohol addiction/problems with alcohol </td>
        <td style="width: 90px"> <input type="radio" name ="family_alcohol" value="TRUE">&nbsp;Yes<br>
                                 <input type="radio" name ="family_alcohol" value="FALSE">&nbsp;No<br>
                                 <input type="radio" name ="family_alcohol" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_alcohol" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_alcohol" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_alcohol" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_alcohol" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_alcohol" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_alcohol" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_alcohol" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_alcohol_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Attention deficit hyperactivity disorder (ADHD) </td>
        <td style="width: 90px"> <input type="radio" name ="family_adhd" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_adhd" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_adhd" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_adhd" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_adhd" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_adhd" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_adhd" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_adhd" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_adhd" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_adhd" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_adhd_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Autism spectrum disorder (ASD) </td>
        <td style="width: 90px"> <input type="radio" name ="family_autism" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_autism" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_autism" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_autism" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_autism_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Anxiety disorder/chronic nervousness </td>
        <td style="width: 90px"> <input type="radio" name ="family_autism" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_autism" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_autism" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_autism" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_autism" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_autism_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Behavior problems </td>
        <td style="width: 90px"> <input type="radio" name ="family_behaviorproblems" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_behaviorproblems" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_behaviorproblems" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_behaviorproblems" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_behaviorproblems" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_behaviorproblems" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_behaviorproblems" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_behaviorproblems" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_behaviorproblems" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_behaviorproblems" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_behaviorproblems_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Bipolar disorder/manic depression </td>
        <td style="width: 90px"> <input type="radio" name ="family_bipolar" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_bipolar" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_bipolar" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_bipolar" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_bipolar" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_bipolar" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_bipolar" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_bipolar" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_bipolar" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_bipolar" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_bipolar_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Blindness/visual impairment present at birth or in childhood </td>
        <td style="width: 90px"> <input type="radio" name ="family_visuallyimpaired" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_visuallyimpaired" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_visuallyimpaired" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_visuallyimpaired" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_visuallyimpaired" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_visuallyimpaired" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_visuallyimpaired" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_visuallyimpaired" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_visuallyimpaired" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_visuallyimpaired" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_visuallyimpaired_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Celiac disease </td>
        <td style="width: 90px"> <input type="radio" name ="family_celiac" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_celiac" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_celiac" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_celiac" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_celiac" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_celiac" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_celiac" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_celiac" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_celiac" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_celiac" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_celiac_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Cerebral palsy </td>
        <td style="width: 90px"> <input type="radio" name ="family_cerebralpalsy" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_cerebralpalsy" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_cerebralpalsy" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_cerebralpalsy" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_cerebralpalsy" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_cerebralpalsy" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_cerebralpalsy" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_cerebralpalsy" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_cerebralpalsy" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_cerebralpalsy" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_cerebralpalsy_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Deafness/hearing problems present at birth or in childhood </td>
        <td style="width: 90px"> <input type="radio" name ="family_hearingproblems" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_hearingproblems" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_hearingproblems" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_hearingproblems" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_hearingproblems" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_hearingproblems" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_hearingproblems" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_hearingproblems" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_hearingproblems" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_hearingproblems" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_hearingproblems_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Depression </td>
        <td style="width: 90px"> <input type="radio" name ="family_depression" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_depression" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_depression" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_depression" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_depression" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_depression" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_depression" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_depression" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_depression" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_depression" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_depression_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Diabetes in childhood </td>
        <td style="width: 90px"> <input type="radio" name ="family_diabetes" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_diabetes" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_diabetes" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_diabetes" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_diabetes" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_diabetes" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_diabetes" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_diabetes" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_diabetes" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_diabetes" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_diabetes_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Drug addiction </td>
        <td style="width: 90px"> <input type="radio" name ="family_drugs" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_drugs" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_drugs" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_drugs" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_drugs" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_drugs" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_drugs" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_drugs" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_drugs" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_drugs" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_drugs_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Epilepsy/seizures/neurological problems </td>
        <td style="width: 90px"> <input type="radio" name ="family_seizures" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_seizures" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_seizures" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_seizures" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_seizures" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_seizures" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_seizures" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_seizures" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_seizures" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_seizures" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_seizures_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Genetic disorder/birth defect </td>
        <td style="width: 90px"> <input type="radio" name ="family_genetic" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_genetic" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_genetic" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_genetic" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_genetic" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_genetic" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_genetic" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_genetic" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_genetic" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_genetic" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_genetic_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Heart attack/heart problems under 50 </td>
        <td style="width: 90px"> <input type="radio" name ="family_heartproblems" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_heartproblems" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_heartproblems" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_heartproblems" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartproblems" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartproblems" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartproblems" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartproblems" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartproblems" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartproblems" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_heartproblems_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Heart rhythm problems/pacemaker </td>
        <td style="width: 90px"> <input type="radio" name ="family_heartrhythm" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_heartrhythm" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_heartrhythm" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_heartrhythm" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartrhythm" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartrhythm" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartrhythm" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartrhythm" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartrhythm" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_heartrhythm" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_heartrhythm_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Intellectual disability/mental retardation </td>
        <td style="width: 90px"> <input type="radio" name ="family_intellectual" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_intellectual" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_intellectual" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_intellectual" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_intellectual" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_intellectual" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_intellectual" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_intellectual" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_intellectual" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_intellectual" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_intellectual_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Math problems/dyscalculia </td>
        <td style="width: 90px"> <input type="radio" name ="family_dyscalculia" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_dyscalculia" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_dyscalculia" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_dyscalculia" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyscalculia" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyscalculia" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyscalculia" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyscalculia" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyscalculia" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyscalculia" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_dyscalculia_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Migraine headaches </td>
        <td style="width: 90px"> <input type="radio" name ="family_migraine" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_migraine" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_migraine" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_migraine" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_migraine" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_migraine" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_migraine" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_migraine" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_migraine" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_migraine" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_migraine_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Obsessive-compulsive disorder </td>
        <td style="width: 90px"> <input type="radio" name ="family_ocd" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_ocd" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_ocd" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_ocd" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ocd" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ocd" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ocd" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ocd" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ocd" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ocd" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_ocd_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Panic attacks </td>
        <td style="width: 90px"> <input type="radio" name ="family_panicattacks" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_panicattacks" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_panicattacks" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_panicattacks" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_panicattacks" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_panicattacks" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_panicattacks" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_panicattacks" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_panicattacks" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_panicattacks" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_panicattacks_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Physical or sexual abuse </td>
        <td style="width: 90px"> <input type="radio" name ="family_abuse" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_abuse" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_abuse" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_abuse" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_abuse" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_abuse" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_abuse" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_abuse" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_abuse" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_abuse" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_abuse_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Post-traumatic stress disorder (PTSD) </td>
        <td style="width: 90px"> <input type="radio" name ="family_ptsd" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_ptsd" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_ptsd" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_ptsd" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ptsd" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ptsd" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ptsd" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ptsd" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ptsd" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_ptsd" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_ptsd_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Reading problems/dyslexia </td>
        <td style="width: 90px"> <input type="radio" name ="family_dyslexia" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_dyslexia" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_dyslexia" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_dyslexia" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyslexia" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyslexia" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyslexia" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyslexia" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyslexia" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dyslexia" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_dyslexia_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Schizophrenia/hallucinations </td>
        <td style="width: 90px"> <input type="radio" name ="family_schizophrenia" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_schizophrenia" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_schizophrenia" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_schizophrenia" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schizophrenia" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schizophrenia" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schizophrenia" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schizophrenia" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schizophrenia" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schizophrenia" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_schizophrenia_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> School problems </td>
        <td style="width: 90px"> <input type="radio" name ="family_schoolproblems" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_schoolproblems" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_schoolproblems" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_schoolproblems" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schoolproblems" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schoolproblems" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schoolproblems" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schoolproblems" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schoolproblems" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_schoolproblems" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_schoolproblems_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Social problems/shyness </td>
        <td style="width: 90px"> <input type="radio" name ="family_socialproblems" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_socialproblems" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_socialproblems" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_socialproblems" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_socialproblems" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_socialproblems" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_socialproblems" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_socialproblems" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_socialproblems" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_socialproblems" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_socialproblems_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Speech/language problems </td>
        <td style="width: 90px"> <input type="radio" name ="family_speechlanguage" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_speechlanguage" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_speechlanguage" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_speechlanguage" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_speechlanguage" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_speechlanguage" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_speechlanguage" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_speechlanguage" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_speechlanguage" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_speechlanguage" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_speechlanguage_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Thyroid problems </td>
        <td style="width: 90px"> <input type="radio" name ="family_thyroid" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_thyroid" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_thyroid" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_thyroid" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_thyroid" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_thyroid" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_thyroid" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_thyroid" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_thyroid" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_thyroid" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_thyroid_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Tics/Tourette's syndrome </td>
        <td style="width: 90px"> <input type="radio" name ="family_tics" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_tics" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_tics" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_tics" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_tics" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_tics" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_tics" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_tics" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_tics" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_tics" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_tics_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Trouble with the law </td>
        <td style="width: 90px"> <input type="radio" name ="family_lawtrouble" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_lawtrouble" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_lawtrouble" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_lawtrouble" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_lawtrouble" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_lawtrouble" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_lawtrouble" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_lawtrouble" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_lawtrouble" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_lawtrouble" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_lawtrouble_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
      <tr>
        <td> Writing problems/dysgraphia </td>
        <td style="width: 90px"> <input type="radio" name ="family_dysgraphia" value="TRUE">&nbsp;Yes<br>
                                   <input type="radio" name ="family_dysgraphia" value="FALSE">&nbsp;No<br>
                                   <input type="radio" name ="family_dysgraphia" value="UNKNOWN">&nbsp;Unsure</td>
        <td> <input type="checkbox" name ="family_relation_dysgraphia" value="mother">&nbsp;Mother&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dysgraphia" value="father">&nbsp;Father&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dysgraphia" value="brother">&nbsp;Brother(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dysgraphia" value="sister">&nbsp;Sister(s)&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dysgraphia" value="maternal">&nbsp;Relative on mother's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dysgraphia" value="paternal">&nbsp;Relative on father's side&nbsp;&nbsp;
             <input type="checkbox" name ="family_relation_dysgraphia" value="unknown">&nbsp;Unknown<br><br>
             Please elaborate on the condition, how many family members are affected, and their relationship to the child:<br>
                <textarea name="family_relation_dysgraphia_elaborate" rows="2" cols="40"></textarea></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <input type="submit" value="Submit">
</form>

<%- include('bootfooter') -%>
