<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class=jumbotron>
  <h2>Patient Information</h2>
</div>

<form method="post" action="/patients/new/form">
  Please enter the following information:
  <div class="row">
    <div class="col"> Name of patient: </div>
    <div class="col"> <input type="text" name ="patientName">
    </div>
  </div>
  <div class="row">
    <div class="col"> Patient's pronouns: </div>
    <div class="col"> <select name="patientPronouns">
                        <option value="he"> He/him/his </option>
                        <option value="she"> She/her/hers </option>
                        <option value="they"> They/them/theirs </option>
                        <option value="xe"> Xe/xem/xirs </option>
                      </select>
    </div>
  </div>
  <div class="row">
    <div class="col"> Address: </div>
    <div class="col"> <input type="text" name ="patientAddress">
    </div>
  </div>
  <div class="row">
    <div class="col"> Home phone number: </div>
    <div class="col"> <input type="text" name ="patientPhone">
    </div>
  </div>
  <div class="row">
    <div class="col"> Email address: </div>
    <div class="col"> <input type="text" name ="patientEmail">
    </div>
  </div>
  <div class="row">
    <div class="col"> Bio: </div>
    <div class="col"> <textarea name="patientBio" rows="2" col="40"></textarea>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col"> Photo: </div>
    <div class="col"> <input type="file" name ="providerPhoto">
    </div>
  </div> -->
  <hr>

  <input type="submit" name="Submit">
</form>

<%- include('bootfooter') -%>
