<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class=jumbotron>
<h2>Pregnancy and Birth History</h2>
</div>

<form method="post" action="/patients/history/pregbirth/form">
  Is this child adopted?<br>
    <input type="radio" name="adoption_status" value="FALSE">&nbsp;NO&nbsp;&nbsp;
    <input type="radio" name="adoption_status" value="TRUE">&nbsp;YES from <input type="text" name="country_of_origin"
           placeholder="country of origin">
  <hr>

  <h3> Pregnancy History </h3>
  <div class="row">
    <div class="col"> How many times has the mother been pregnant? (enter 0 if unknown) </div>
    <div class="col"> <input required type="number" name ="mother_total_pregnancies"></div>
  </div>
  <div class="row">
    <div class="col"> How many children does the birth mother have? (enter 0 if unknown) </div>
    <div class="col"> <input required type="number" name ="mother_total_children"></div>
  </div>
  <div class="row">
    <div class="col"> How many of those children are older than this child? (enter 0 if unknown) </div>
    <div class="col"> <input required type="number" name ="mother_older_children"></div>
  </div><br>
  Did the birth mother...
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
          <td> ...lose any pregnancies (have a miscarriage)? </td>
          <td> <input type="radio" name ="had_miscarriage" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="had_miscarriage" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="had_miscarriage" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, how many?&nbsp;<input type="text" name ="miscarriages_total"></td>
      </tr>
      <tr>
          <td> ...terminate any past pregnancies specifically due to a health problem/genetic condition of the baby? </td>
          <td> <input type="radio" name ="had_termination_anomalies" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="had_termination_anomalies" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="had_termination_anomalies" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, how many?&nbsp;<input type="text" name="termination_anomalies_total"><br>
               For what conditions?&nbsp;<input type="text" name="termination_anomalies_cause"></td>
      </tr>
      <tr>
          <td> ...require treatment to become pregnant with this child? </td>
          <td> <input type="radio" name ="required_fertility" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="required_fertility" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="required_fertility" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, what treatment?&nbsp;<input type="text" name="fertility_treatment"></td>
      </tr>
      <tr>
          <td> ...have prenatal care? </td>
          <td> <input type="radio" name ="had_prenatal_care" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="had_prenatal_care" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="had_prenatal_care" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               During which trimester(s)?<br>
                  <input type="checkbox" name="trimesters_prenatal_care" value="1">&nbsp;1st&nbsp;&nbsp;
                  <input type="checkbox" name="trimesters_prenatal_care" value="2">&nbsp;2nd&nbsp;&nbsp;
                  <input type="checkbox" name="trimesters_prenatal_care" value="3">&nbsp;3rd</td>
      </tr>
      <tr>
          <td> ...receive any of the following prenatal tests? </td>
          <td> <input type="checkbox" name ="prenatal_tests" value="had_ultrasound">&nbsp;Ultrasounds&nbsp;&nbsp;
               <input type="checkbox" name ="prenatal_tests" value="had_amniocentesis">&nbsp;Amniocentesis&nbsp;&nbsp;
               <input type="checkbox" name ="prenatal_tests" value="had_cvs">&nbsp;Chorionic villus sampling (CVS)<br><br>
               If you received abnormal results on any of these tests, what was it?&nbsp;<input type="text" name="prenatal_diagnosis"></td>
      </tr>
      <tr>
          <td> ...have any infections or fevers during the pregnancy? </td>
          <td> <input type="radio" name ="had_infection_pregnancy" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="had_infection_pregnancy" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="had_infection_pregnancy" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, what infection (if known)?&nbsp;<input type="text" name="infection_pregnancy"></td>
      </tr>
      <tr>
          <td> ...have high blood pressure during the pregnancy? </td>
          <td> <input type="radio" name ="had_hypertension_pregnancy" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="had_hypertension_pregnancy" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="had_hypertension_pregnancy" value="UNKNOWN">&nbsp;UNKNOWN</td>
      </tr>
      <tr>
          <td> ...have gestational diabetes during the pregnancy? </td>
          <td> <input type="radio" name ="had_diabetes_pregnancy" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="had_diabetes_pregnancy" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="had_diabetes_pregnancy" value="UNKNOWN">&nbsp;UNKNOWN</td>
      </tr>
      <tr>
          <td> ...use any vitamins/over-the-counter medications during the pregnancy? </td>
          <td> <input type="radio" name ="used_overthecounter_pregnancy" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="used_overthecounter_pregnancy" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="used_overthecounter_pregnancy" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, what vitamins/medications (if known)?&nbsp;<input type="text" name="overthecounter_pregnancy"></td>
      </tr>
      <tr>
          <td> ...use any herbal remedies during the pregnancy? </td>
          <td> <input type="radio" name ="used_herbal" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="used_herbal" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="used_herbal" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, what herbal remedies (if known)?&nbsp;<input type="text" name="herbal_pregnancy"></td>
      </tr>
      <tr>
          <td> ...use any prescription medications during the pregnancy? </td>
          <td> <input type="radio" name ="used_prescription_pregnancy" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="used_prescription_pregnancy" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="used_prescription_pregnancy" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, what prescription medications (if known)?&nbsp;<input type="text" name="prescription_pregnancy"></td>
      </tr>
      <tr>
          <td> ...use cigarettes during the pregnancy? </td>
          <td> <input type="radio" name ="used_cigarettes_pregnancy" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="used_cigarettes_pregnancy" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="used_cigarettes_pregnancy" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, how many per day? (enter as a number)<br>
                  <input type="String" name="cigarettes_per_day_pregnancy">&nbsp;
                  <input type="radio" name ="cigarettes_per_day_pregnancy_unit" value="loose"> loose&nbsp;
                  <input type="radio" name ="cigarettes_per_day_pregnancy_unit" value="packs"> packs<br><br>
               During which trimester(s)?<br>
                  <input type="checkbox" name="when_cigarettes_pregnancy" value="1">&nbsp;1st&nbsp;&nbsp;
                  <input type="checkbox" name="when_cigarettes_pregnancy" value="2">&nbsp;2nd&nbsp;&nbsp;
                  <input type="checkbox" name="when_cigarettes_pregnancy" value="3">&nbsp;3rd&nbsp;&nbsp;
                  <input type="checkbox" name="when_cigarettes_pregnancy" value="UNKNOWN">&nbsp;Unknown</td>
      </tr>
      <tr>
          <td> ...use alcohol during the pregnancy? </td>
          <td> <input type="radio" name ="used_alcohol_pregnancy" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="used_alcohol_pregnancy" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="used_alcohol_pregnancy" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, how many drinks?<br>
                  <input type="radio" name="alcohol_per_day_pregnancy" value="1_per_week"> &nbsp;1 drink or less per week&nbsp;&nbsp;
                  <input type="radio" name="alcohol_per_day_pregnancy" value="1_per_day"> &nbsp;1 drink or less per day&nbsp;&nbsp;
                  <input type="radio" name="alcohol_per_day_pregnancy" value="2_plus_per_day"> &nbsp;2 drinks or more per day&nbsp;&nbsp;
                  <input type="radio" name="alcohol_per_day_pregnancy" value="UNKNOWN"> Amount unknown<br><br>
               During which trimester(s)?<br>
                  <input type="checkbox" name="when_alcohol_pregnancy" value="1">&nbsp;1st&nbsp;&nbsp;
                  <input type="checkbox" name="when_alcohol_pregnancy" value="2">&nbsp;2nd&nbsp;&nbsp;
                  <input type="checkbox" name="when_alcohol_pregnancy" value="3">&nbsp;3rd&nbsp;&nbsp;
                  <input type="checkbox" name="when_alcohol_pregnancy" value="UNKNOWN">&nbsp;Unknown&nbsp;&nbsp;</td>
      </tr>
      <tr>
          <td> ...use any substances during the pregnancy? </td>
          <td> <input type="checkbox" name ="used_drugs_pregnancy" value="tobacco">&nbsp;Tobacco (vaping, chewing, etc.)&nbsp;&nbsp;
               <input type="checkbox" name ="used_drugs_pregnancy" value="marijuana">&nbsp;Marijuana/cannabis&nbsp;&nbsp;
               <input type="checkbox" name ="used_drugs_pregnancy" value="cocaine">&nbsp;Cocaine&nbsp;&nbsp;
               <input type="checkbox" name ="used_drugs_pregnancy" value="heroin">&nbsp;Heroin&nbsp;&nbsp;
               <input type="checkbox" name ="used_drugs_pregnancy" value="painkillers">&nbsp;Painkillers&nbsp;&nbsp;
               <input type="checkbox" name ="used_drugs_pregnancy" value="cocaine">&nbsp;Methamphetamine&nbsp;&nbsp;
               <input type="checkbox" name ="used_drugs_pregnancy" value="other">&nbsp;Other:&nbsp;
                  <input type="text" name="used_drugs_pregnancy_other"><br><br>
               During which trimester(s)?&nbsp;
                  <input type="checkbox" name="when_drugs_pregnancy" value="1">&nbsp;1st&nbsp;&nbsp;
                  <input type="checkbox" name="when_drugs_pregnancy" value="2">&nbsp;2nd&nbsp;&nbsp;
                  <input type="checkbox" name="when_drugs_pregnancy" value="3">&nbsp;3rd&nbsp;&nbsp;
                  <input type="checkbox" name="when_drugs_pregnancy" value="UNKNOWN">&nbsp;Unknown&nbsp;&nbsp;</td>
      </tr>
      <tr>
          <td> ...have any other complications during the pregnancy? </td>
          <td> <textarea name="other_complications_pregnancy" rows="2" cols="40"></textarea></td>
      </tr>
    </tbody>
  </table>
  <hr>

  <h3> Birth History </h3>
  <div class="row">
    <div class="col"> What was the age of the birth mother when this child was born? </div>
    <div class="col"> <input type="text" name ="mother_age_birth"></div>
  </div>
  <div class="row">
    <div class="col"> What was the age of the birth father when this child was born? </div>
    <div class="col"> <input type="text" name ="father_age_birth"></div>
  </div>
  <div class="row">
    <div class="col"> What was the gestational age of the child when born (i.e. how many weeks)? </div>
    <div class="col"> <input type="text" name ="gestational_age"></div>
  </div>
  <div class="row">
    <div class="col"> What was the birth weight of the child? </div>
    <div class="col"> <input type="text" name ="birth_weight"></div>
  </div>

  <table class="table table-bordered table-striped"
    <tbody>
      <tr>
          <td> Was this child... </td>
          <td> <input type="radio" name ="pregnancy_numbers" value="singleton">&nbsp;A singleton&nbsp;&nbsp;
               <input type="radio" name ="pregnancy_numbers" value="twin">&nbsp;One of twins&nbsp;&nbsp;
               <input type="radio" name ="pregnancy_numbers" value="triplet">&nbsp;One of triplets&nbsp;&nbsp;
               <input type="radio" name ="pregnancy_numbers" value="other">&nbsp;Other multiple</td>
      </tr>
      <tr>
          <td> Was this child born by... </td>
          <td> <input type="radio" name ="delivery_method" value="vaginal">&nbsp;Vaginal birth&nbsp;&nbsp;
               <input type="radio" name ="delivery_method" value="scheduled_caesarean">&nbsp;Scheduled Caesarean section&nbsp;&nbsp;
               <input type="radio" name ="delivery_method" value="unplanned_caesarean">&nbsp;Unplanned Caesarean section&nbsp;&nbsp;
               <input type="radio" name ="delivery_method" value="vaginal_after_caesarean">&nbsp;Vaginal birth after previous C-section&nbsp;&nbsp;
               <input type="radio" name ="delivery_method" value="scheduled_induction">&nbsp;Scheduled induction&nbsp;&nbsp;
               <input type="radio" name ="delivery_method" value="forcep_vaginal">&nbsp;Forecep-assisted vaginal delivery&nbsp;&nbsp;
               <input type="radio" name ="delivery_method" value="vacuum_vaginal">&nbsp;Vacuum-assisted vaginal delivery&nbsp;&nbsp;
               <input type="radio" name ="delivery_method" value="UNKNOWN">&nbsp;Unknown delivery method&nbsp;&nbsp;</td>
      </tr>
      <tr>
          <td> Were there any complications during labor/delivery? </td>
          <td> <textarea name="other_complications_delivery" rows="2" cols="40"></textarea> </td>
      </tr>
      <tr>
          <td> Was this child admitted to the Special Care Nursery or Neonatal Intensive Care Unit (NICU)? </td>
          <td> <input type="radio" name ="admitted_to_nicu" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="admitted_to_nicu" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="admitted_to_nicu" value="UNKNOWN">&nbsp;UNKNOWN<br><br>
               If yes, how long was this child hospitalized (if known)?&nbsp;<input type="text" name="time_in_nicu"></td>
      </tr>
      <tr>
          <td> Did this child have any problems within the first few days to weeks of life? </td>
          <td> <textarea name="complications_neonatal" rows="2" col="40"></textarea> </td>
      </tr>
      <tr>
          <td> When discharged from the hospital, who did your child go home with? </td>
          <td> <input type="checkbox" name="first_caregiver" value="bio_mother">&nbsp;Biological mother&nbsp;&nbsp;
               <input type="checkbox" name="first_caregiver" value="bio_father">&nbsp;Biological father&nbsp;&nbsp;
               <input type="checkbox" name="first_caregiver" value="bio_parents">&nbsp;Biological parents&nbsp;&nbsp;
               <input type="checkbox" name="first_caregiver" value="adoptive_parents">&nbsp;Adoptive parents&nbsp;&nbsp;
               <input type="checkbox" name="first_caregiver" value="grandparent">&nbsp;Grandparent(s)&nbsp;&nbsp;
               <input type="checkbox" name="first_caregiver" value="other_relative">&nbsp;Other relative(s)&nbsp;&nbsp;
               <input type="checkbox" name="first_caregiver" value="foster_parent">&nbsp;Foster parent(s)&nbsp;&nbsp;
               <input type="checkbox" name="first_caregiver" value="other">&nbsp;Other&nbsp;&nbsp;
               <input type="checkbox" name="first_caregiver" value="UNKNOWN">&nbsp;Unknown<br><br>
                  If other or other relative, please elaborate (if known).&nbsp;<input type="text" name="first_caregiver_other"> </td>
      </tr>
      <tr>
          <td> Did this child have any feeding problems as a newborn or infant? </td>
          <td> <input type="radio" name ="had_feeding_problems" value="TRUE">&nbsp;YES&nbsp;&nbsp;
               <input type="radio" name ="had_feeding_problems" value="FALSE">&nbsp;NO&nbsp;&nbsp;
               <input type="radio" name ="had_feeding_problems" value="UNKNOWN">&nbsp;UNKNOWN<br>
                  If yes, please elaborate (if known).&nbsp;<input type="text" name="feeding_problems"> </td>
      </tr>
    </tbody>
  </table>
  <input type="hidden" name="patientID" value="<%= patientId %>">
  <input type="submit" value="Submit">
</form>
<%- include('bootfooter') -%>
