<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class=jumbotron>
  <h1> Patient History </h1>
  </div>

<ul>
  <li> <a href="/history/pregbirth/view" </li> <!-- Include an update button -->
</ul>




<!--
      See if there is a way to create an if statement for whether a certain form
      is filled out i.e. if a schema of a certain type exists.

      While you're at it, ask if there's a way to ensure that there is only one
      possible schema of a certain type while allowing multiple schemas of a
      different type.
-->

<%- include('bootfooter') -%>
