

  <div class="jumbotron">

    <h1> Alpha Care Coordinator  </h1>

    <p> (very alpha) </p>


    <ul>
      <% if (loggedIn) {%>
        <li><a href="/profile/form/<%=user%>"> Create your provider profile </a></li>
        <li><a href="/profile/<%=user%>">See your profile </a></li>
        <li><a href="/patients">See your patients</a></li>
      <% } %>
    </ul>
  </div>

  <!-- Hello World! -->
