<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class=jumbotron>
<h2>Woodcock-Johnson Tests of Achievement, 4th Edition (WJ-ACH)</h2>
</div>

<form method="post" action="/WJ_IV_ACH_helper">
  <hr>
  What is the date of testing?
    <input type="date" name="WJ_IV_ACHdate"><br>
  <hr>

Enter the standard score for each test. <i>(note that not all tests may be used)</i><br><br>
  <h3>Standard Battery</h3>
  <div class="row">
    <div class="col">
      Letter-World Identification
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_1">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Applied Problems
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_2">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Spelling
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_3">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Passage Comprehension
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_4">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Calculation
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_5">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Writing Samples
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_6">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Word Attack
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_7">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Oral Reading
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_8">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Sentence Reading Fluency
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_9">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Math Facts Fluency
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_10">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Sentence Writing Fluency
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_11">
      </div>
    </div>
  <br>

  <h3>Extended Battery</h3>
  <div class="row">
    <div class="col">
      Reading Recall
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_12">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Number Matrices
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_13">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Editing
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_14">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Word Reading Fluency
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_15">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Spelling of Sounds
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_16">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Reading Vocabulary
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_17">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Science
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_18">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Social Studies
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_19">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Humanities
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_20">
      </div>
    </div>
<hr>

Enter the standard score for each cluster.<br><br>
  <h3>Reading Clusters</h3>
  <div class="row">
    <div class="col">
      Reading
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_r">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Broad Reading
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_br">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Basic Reading Skills
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_brs">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Reading Comprehension
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_rc">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Reading Fluency
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_rf">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Reading Rate
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_rr">
      </div>
    </div>

  <h3>Mathematics Clusters</h3>
  <div class="row">
    <div class="col">
      Mathematics
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_m">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Broad Mathematics
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_bm">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Math Calculation Skills
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_mcs">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Math Problem Solving
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_mps">
      </div>
    </div>

  <h3>Writing Clusters</h3>
  <div class="row">
    <div class="col">
      Written Language
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_wl">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Broad Written Language
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_bwl">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Basic Writing Skills
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_bws">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Written Expression
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_we">
      </div>
    </div>

  <h3>Cross-Domain Clusters</h3>
  <div class="row">
    <div class="col">
      Academic Skills
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_as">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Academic Fluency
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_af">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Academic Applications
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_aa">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Academic Knowledge
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_ak">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Phoneme-Grapheme Knowledge
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_pgk">
      </div>
    </div>
  <div class="row">
    <div class="col">
      Brief (or Broad) Achievement
      </div>
    <div class="col">
      <input type="number" name ="WJ_IV_ACH_ba">
      </div>
    </div>
    <br>

    <input type="submit" name="Submit">
  </form>

  <%- include('bootfooter') -%>
